@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --borderRadius: 4px;
  --maxWidth: 1200px;
  --fontFamily: 'Ubuntu', sans-serif;
  --colorDark: #0b0716;
  --colorPrimary: #f7c67c;
  --colorGreyDark: #64615d;
  --colorGreyLight: #cfcbc5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: var(--fontFamily);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
